<!-- Main Content -->

<div id="content" style="float: left;">
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <li class="nav-item">
            <a  class="nav-link" href="@Url.Action("listTopicStu", "TopicOfStudent")">
                <img src="~/images/4901662.png" width="30px" height="30px" />
                <span style="font-weight:bold">Danh mục đề tài sinh viên</span>
            </a>
        </li>
         

    </ul>
    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <!-- End of Content Wrapper -->


</div>
 
