@model DuAnQLNCKH.Models.Account
@{
    ViewBag.Title = "changePassWord";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-header" style="margin-top:20px">

    <h2>THAY ĐỔI MẬT KHẨU</h2>
</div>
<hr />
<div class="row">


    <div class="col-md-2">
        <img src="~/images/KeyLarge.gif">
    </div>
    <div class="col-md-10">

        <div class="row">

            <strong>Lưu ý:</strong>
            <ul style="font-size:15px">
                <li>
                    Mật khẩu được sử dụng để đăng nhập vào hệ thống và có vai trò rất quan trọng. Hãy
                    giữ gìn mật khẩu cẩn thận và tuyệt đối không được giao mật khẩu cho người khác.
                </li>

                <li>
                    Nên đặt mật khẩu đủ dài và khó đoán. Không nên sử dụng ngày sinh, số
                    điện thoại, cách viết tắt của họ tên,.... để làm mật khẩu.
                </li>
                <li>Để tránh các sai sót khi gõ mật khẩu, nên tắt chế độ gõ tiếng Việt trước khi thay đổi mật khẩu.</li>
            </ul>
        </div>
    </div>

</div>

@Html.ValidationMessage("result", "", new { @class = "text-danger" })
<br />
@using (Html.BeginForm("changePassWord1", "UserLecture", FormMethod.Post))
{

    <center>

        <div class="row">
            <div style="padding-left: 240px;" class="col-md-4">
                Mật khẩu cũ:

            </div>
            <div class="col-md-5" style="padding-right: 100px; ">
                <input class="form-control" id="OldPassword" name="OldPassword" type="password" size="40">

            </div>
        </div>
        <div style="margin-top:20px" class="row">
            <div style="padding-left: 229px;" class="col-md-4">
                Mật khẩu mới:


            </div>
            <div class="col-md-5" style="padding-right: 100px; ">
                <input class="form-control" id="NewPassword" name="NewPassword" type="password" size="40">

            </div>
        </div>
        <div style="margin-top:20px" class="row">
            <div style="padding-left: 172px;" class="col-md-4">

                Xác nhận lại mật khẩu:

            </div>
            <div class="col-md-5" style="padding-right: 100px; ">
                <input class="form-control" id="ConfirmPassword" name="ConfirmPassword" type="password" size="40">

            </div>
        </div>

        <div style="margin:30px 0 0 150px" class="form-group">
            <input class="btn btn-primary" style="font-weight: bold; color: white" type="submit" value="Đổi mật khẩu" />

        </div>
        <div>
            @Html.ValidationMessage("OldPassword", "", new { @class = "text-danger" })<br />
            @Html.ValidationMessage("NewPassword", "", new { @class = "text-danger" })<br />
            @Html.ValidationMessage("ConfirmPassword", "", new { @class = "text-danger" })
        </div>
    </center>


}


